{% extends 'biorythms/layout.html' %}
{% load static %}
{% load pytils_dt %}
{% load sancta_date %}

{% block content %}
<div id='title'>
    <h1> <a href='{{ link_pref }}'>&larr;</a>
      Биоритмы на {{ current_date|ru_strftime:"%B" }} {%if year %}{{year}}{% endif %}
    <a href='{{ link_next }}'>&rarr;</a> </h1>
    <h2> Дата рождения: {{ birthday }} </h2>
</div>

<div id='biorythms_chart' style='height:300px;'></div>


<div id='content'>
<div id='todayinfo'>
    <h2>Сегодня</h2>
</div>
<div id='dates_in_month'>

  <h2>Важные дни {{ month_name }} {%if year %}{{year}}{% endif %}</h2>
  {% spaceless %}
  {% for day,info in critical_days.items %}
      {% if  info.is_great_critical_day %}
          <h3>{{ day }}</h3>
          <h3><b>Великий критический день</b></h3>

      {% elif  info.is_critical %}
          <h3>{{ day }}</h3>
          <p>
          {% if info.critical_perods|length == 2 %}
              <b>Двойной критический день</b>:
          {% elif info.critical_perods|length == 3 %}
              <b>Тройной критический день</b>:
          {% else %}
              <b>Критический день</b>:
          {% endif %}


          {% for period in info.critical_perods %}

              {% if  forloop.counter0 == 0 %}
                  <span>Переключение фазы </span>
              {% elif forloop.counter0|add:1 == info.critical_perods|length %}
                  <span> и </span>
              {% else %}
                  <span>, </span>
              {% endif %}

              {% if period.period == consts.PHYSICAL_PERIOD %}
                  <span>физического</span>
              {% elif period.period == consts.EMOTIONAL_PERIOD %}
                  <span>эмоционального</span>
              {% elif period.period == consts.BRAIN_PERIOD %}
                  <span>умственного</span>
              {% endif %}


              {% if  forloop.counter0|add:1 == info.critical_perods|length %}
                <span> биоритма</span>
              {% endif %}


          {% endfor %}
          </p>
      {% endif %}
  {% endfor %}
{% endspaceless %}

</div>
</div>

{% endblock %}

{% block block_js %}
<script src="{% static "js/raphael-min.js" %}"></script>
<script src="{% static "js/morris-0.4.3.min.js" %}"></script>
<script type="text/javascript">
    new Morris.Line({
  element: 'biorythms_chart',
  {% autoescape off %}
      data: {{ data }},
  {% endautoescape %}
  dateFormat: function (x) {
      function addZero(i) {
          return (i < 10)? "0" + i: i;
      }
      var day = new Date(x);
      return (
          addZero(day.getDate()) + '.' +
          addZero(day.getMonth()+1) + '.' +
          day.getFullYear()
      );
  },
  xLabelFormat: function (x) {
      function addZero(i) {
          return (i < 10)? "0" + i: i;
      }
      var day = new Date(x);
      return addZero(day.getDate())+'.'+addZero(day.getMonth()+1);
  },

  xkey: 'day',
  ykeys: ['fiz', 'emo', 'smart'],
  labels: ['физический', 'эмоциональный', 'интеллектуальный'],
  hideHover: 'auto',
  {% if today %}
  events: ['{{ today }}'],
  {% endif %}
  pointSize:2,
  lineColors: ['#e67869','#3b9647', '#193020'],
});

</script>
{% endblock %}