{% extends 'biorythms/layout.html' %}
{% load static %}

{% block content %}
 <div id='form'>
        <h1> Расчет биоритмов </h1>
        <form action="/biorythms/" method="post" {% if form.errors %} class='error' {% endif %}>
            {% csrf_token %}
            {{ form.date }}
            {{ form.date.errors }}
            <div id='button'>
                <button type="submit">рассчитать</button>
            </div>
        </form>
    </div>




    <div id='text_content'>
    <p>
Расчет биоритмов человека - новое популярное течение в сфере самопознания, позволяющее согласовать свою жизнь с естественными циклами природы.
</p>
<p>
Биоритмы - природные циклы биологических и энергетических изменений, которым подвержено все в природе, в том числе и человек. А следовательно расчет биоритмов - расчет течения природных циклов и изменений в действиях и ощущениях. Наша активность изменчива, одно состояние сменяется другим - следствие работы биоритмов человека. Вы наверняка замечали, что в некоторые дни вы, например, более эмоциональны, чем в другие, или же более подвижны. А в некоторые периоды просто хочется сидеть дома и ничего не делать - все это следствие смены ваших природных биоритмов. Расчет биоритмов помогает заранее знать дни своей активности, пиковые дни цикла, а значит, рассчитав свои биоритмы, вы сможете удачнее планировать те или иные дела.
</p>
<p>
Теория о биоритмах человека зародилась в конце 19 века и до сих пор интересует многих ученых и людей, стремящихся к саморазвитию. В настоящий момент продолжают проходить исследования биоритмов, сопоставление результатов расчета и ощущений человека. Проверьте теорию биоритмов и на себе! У человека выделяют три основных ритма - физический, интеллектуальный и эмоциональный. Сами биоритмы начинают действовать в момент нашего рождения, и значит вычисление основывается на дате вашего рождения. Рассчитав биоритмы на нашем сайте, вы получите удобный график, показывающий периоды повышенной и приниженной активности, пиковые точки ваших трех ритмов.
</p>



</div>
{% endblock %}


{% block block_jsd %}
<script src="{% static "js/raphael-min.js" %}"></script>
<script src="{% static "js/morris-0.4.3.min.js" %}"></script>
<script type="text/javascript">
    new Morris.Line({
  element: 'biorythms_chart',
  data: {{ data }},
  dateFormat: function (x) {
      function addZero(i) {
          return (i < 10)? "0" + i: i;
      }
      var day = new Date(x);
      return (
          addZero(day.getDate()) + '.' +
          addZero(day.getMonth()+1) + '.' +
          day.getFullYear()
      );
  },
  xLabelFormat: function (x) {
      function addZero(i) {
          return (i < 10)? "0" + i: i;
      }
      var day = new Date(x);
      return addZero(day.getDate())+'.'+addZero(day.getMonth()+1);
  },

  xkey: 'year',
  ykeys: ['value', 'value2'],
  labels: ['Эмоциональные', 'Vv'],
  hideHover: 'auto',
  events: ['2012-02-26']
});

</script>
{% endblock %}


{% block block_js %}
<script type="text/javascript">
    jQuery(function(){
        jQuery('input[placeholder], textarea[placeholder]').placeholder('');
        jQuery("#id_date").mask("99.99.9999");
    });
</script>
{% endblock %}