@import "variable.scss";
body {
    background: #d39856;
}

div#top {
    background: url('/static/img/up_line.png') repeat-x;
    height: 150px;
}

div#down {
    margin-top: 50px;
    background: url('/static/img/down_line.png') repeat-x;
    height: 150px;
}


div#form {
    text-align: center;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    h1 {
        padding-top: 60px;
        margin: 0;
        padding-bottom: 20px;
        font-weight: bold;
    }

}


div#title {
    padding-top: 50px;
    text-align: center;
    h2 {
        padding-bottom: 0px;
        margin-bottom: 0px;
    }
}

div#content {
    margin: 0 50px;
    min-height: 300px;
    text-align: center;
    h2 {
        padding-top: 0px;
        margin-top: 0px;
    }
}

div#todayinfo {
    width: 600px;
    margin:10px auto;
    padding-top: 10px;
    text-align: left;
}

span.attention {
    color: #e67869;
}

div.biorithms {
    font-size: 1.2em;
}

div.day_info {
    font-size: 1.2em;
    padding-top: 20px;
}
div#smart_nav {
    width: 400px;
    margin:10px auto;
    text-align: center;
    a {
        padding-left: 10px;
    }
    a.active {
        text-decoration: none;
        color: #000;
    }
}

