$size_content_width: 620px;
$size_content_width_clear: 600px;
$size_content_height: 600px;

$color_bg: #fcfaf5;
$color_main: #532f1b;
$color_link: #8c4819;
$color_error: #d25d15;

$font_H: 'Open Sans', sans-serif;