{% extends 'numerology/layout.html' %}
{% load static %}
{% block page_title %}Рассчитать число рождения {{ num }}{% endblock %}
{% block meta_description %}Число рождения — одно из важнейших понятий в нумерологии. Расчет числа рождения определяет унаследованные черты характера - то, с чем человек приходит в мир.{% endblock %}
{% block meta_keywords %}Число рождения, расчет числа рождения{% endblock %}

{% block og_meta %}
    <meta property="og:image" content="{% get_static_prefix %}img/1.jpg" />
    <link rel="image_src" href="{% get_static_prefix %}img/1.jpg" />
{% endblock %}


{% block content %}
    <div id='form' class='circle'>
        <form action="/numerology/" method="post"
              {% if form.errors %} class='error' {% endif %}>
            {% csrf_token %}
            <h1>число<br>рождения</h1>
            {{ form.date }}
            {{ form.date.errors }}
            <div id='button'>
                <button type="submit">рассчитать</button>
            </div>
        </form>
    </div>

    <div id='text_content'>
        {% autoescape off %}
            {{ article.text.content }}
        {% endautoescape %}
    </div>
{% endblock %}

{% block block_js %}
<script type="text/javascript">
    jQuery(function(){
        jQuery('input[placeholder], textarea[placeholder]').placeholder('');
        jQuery("#id_date").mask("99.99.9999");
    });
</script>
{% endblock %}
