{% extends 'foundation_layout.html' %}
{% load static %}
{% block page_title %}Число рождения {{ num }}{% endblock %}
{% block meta_description %}{{ article.text.annonce }}{% endblock %}
{% block meta_keywords %}{{ article.text.keywords }}{% endblock %}
{% block og_meta %}
    <meta property="og:title" content="Мое число рождения {{ num }}!" />
    <meta property="og:image" content="{% get_static_prefix %}img/{{num}}.jpg" />
    <link rel="image_src" href="{% get_static_prefix %}img/{{num}}.jpg" />
{% endblock %}


{% block content %}
<div class='circle'>
    <div class='num'>
      <h2>{{ num }}</h2>
      <div id='link'>
          <a href='{% url 'num_home' %}'>рассчитать другое<br/>число рождения</a>
      </div>
    </div>

</div>
<div class="title">
  <h1>Число рождения {{ num }}</h1>
  <span class='system'>Рассказать друзьям:</span><br/>
  <script type="text/javascript">(function() {
  if (window.pluso)if (typeof window.pluso.start == "function") return;
  if (window.ifpluso==undefined) { window.ifpluso = 1;
    var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
    s.type = 'text/javascript'; s.charset='UTF-8'; s.async = true;
    s.src = ('https:' == window.location.protocol ? 'https' : 'http')  + '://share.pluso.ru/pluso-like.js';
    var h=d[g]('body')[0];
    h.appendChild(s);
  }})();</script>
<div class="pluso" data-background="none;" data-options="medium,square,line,horizontal,counter,sepcounter=1,theme=14" data-services="vkontakte,odnoklassniki,facebook,google,twitter,surfingbird,moimir"></div>

</div>

<div id='text_content'>
    {% autoescape off %}
        {{ article.text.content }}
    {% endautoescape %}
</div>
{% endblock %}

