{% extends 'layout.html' %}
{% load static %}

{% block meta_title %}Эзотерика дня рождения: биоритмы, нумерология{% endblock %}

{% block css %}
    <link
        type="text/css" rel="stylesheet"
        href="{% static "css/frontend.css" %}" charset="utf-8">
{% endblock %}


{% block base_content %}
<div id='services'>
    <h1>Эзотерика дня рождения</h1>
    <h2>инструменты познания</h2>
    <div id='numerology'>
        <img alt='Нумерология по дате рождения' title='Нумерология по дате рождения' src="{% get_static_prefix %}img/1.jpg" /><br/>
        <a href='{% url 'num_home' %}'>Нумерология по дате рождения</a>
        <div class='about'> Расчет числа рождения определяет врожденные черты характера - то, с чем человек приходит в мир - это помогает лучше разобраться в себе, своих сильных и слабых сторонах, избежать трудностей на пути к достижению своих целей</div>

    </div>

    <div id='biorythms'>
        <img alt='Биоритмы человека' title='Биоритмы человека' src="{% get_static_prefix %}img/biorythms.png" /><br/>
        <a href='{% url 'bio_home' %}'>Биоритмы человека</a>
        <div class='about'>Биоритмы — природные циклы биологических и энергетических изменений, которым подвержено все в природе. Рассчитав биоритмы, вы получите удобный график, показывающий периоды повышенной и приниженной активности, пиковые точки ваших трех ритмов</div>
    </div>
</div>
{% endblock %}
