{% load static %}
<!DOCTYPE html>
<!--[if IE 8]>
  <html class="no-js lt-ie9" lang="ru">
<![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="ru">
<!--<![endif]-->
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="{% block meta_description %}{% endblock %}" />
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}" />
    {% block og_meta %}{% endblock %}
    <meta name="document-state" content="Dynamic" />
    <meta http-equiv="content-language" content="ru" />
    <title>Нумерология: {% block page_title %}{% endblock %}</title>
    <script src="{% static "js/jquery-2.0.3.min.js" %}"></script>
    <script src="{% static "js/jquery.placeholder.min.js" %}"></script>
    <script src="{% static "js/jquery.maskedinput.min.js" %}"></script>
    <!-- <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"> -->
    <!-- <link rel="icon" href="/favicon.ico" type="image/x-icon"> -->
    <link type="text/css" rel="stylesheet" href="{% static "css/numerology.css" %}" charset="utf-8">
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:300|Spirax|Open+Sans:300&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
</head>

<body>
    <div id='ul'>
        <div id='ur'>
            <div id='dr'>
                <div id='dl'>
                    {% block base_content %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
</body>
</html>
{% block block_js %}{% endblock %}
<script type="text/javascript">
    jQuery(function(){
        jQuery('input[placeholder], textarea[placeholder]').placeholder('');
        jQuery("#id_date").mask("99.99.9999");
    });
</script>

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter22377217 = new Ya.Metrika({id:22377217,
                    webvisor:true,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true});
        } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/22377217" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

